@import "reset.css";

.hidden {
  display: none;
  z-index: -2;
}

body {
  justify-content: center;
  align-items: center;
}

img {
  position: relative;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

#todo-list,
#login-form,
#clock,
#todo-form,
#quote,
#weather,
#greeting {
  display: block;
  justify-content: center;
  text-align: center;
  position: absolute;
  font-family: "Courier New", Courier, monospace;
  color: white;
  width: 100%;
}

#greeting {
  font-size: 75px;
  top: 100px;
  font-weight: 500;
}

#clock {
  font-size: 30px;
  margin-top: 15px;
}

#quote {
  bottom: 10px;
}

#weather {
  top: 50px;
}

#todo-list {
  top: 700px;
}

.typing {
  position: absolute;
  top: 650px;
  left: 780px;
}

ul {
  list-style: none;
  font-size: 30px;
}

li span {
  margin-right: 10px;
}

#todo-form {
  bottom: 250px;
}

#todo-form input {
  background: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 10px;
  font-size: 30px;
}

#login-form {
  top: 400px;
  font-size: 50px;
  font-weight: 500;
}

.login-input {
  width: 400px;
  height: 50px;
  background: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 10px;
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
}
